<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tradesim_logo"
        android:label="TradeSim"
        android:roundIcon="@drawable/tradesim_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Welcome screen -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Dashboard -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Introduction and trading screen -->
        <activity
            android:name=".ChartActivity"
            android:exported="false" />

    </application>

</manifest>
